html,body{
  background: #f0f0f0;

}
.builder-container{
  width: 700px;
  margin-right:auto;
  margin-left: auto; 
  background: #FFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1)
}

.selected-el-tool{
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
  position: absolute;
  background:rgb(255, 255, 255);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px; 
}


.sq-link{
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  color: #8a8a8a!important;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

.sq-link:hover{
  color: #505050;
  text-decoration: none;
}

.selected-parent-tool{
  background: #333333;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px; 
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  display: none;
}
.selected-parent-tool a{
  display: block;
  padding: 10;
  color: rgb(153, 153, 153);
}

.selected-parent-tool a:hover{
  color: rgb(238, 238, 238);
}

.highlight-active{
  outline: dashed 1px rgba(0, 132, 255, 0.61);
  outline-offset: 0px
}

.row-section *:hover {
  background: rgba(0, 0, 0, 0.02)!important;
}

.margin-lr-10{
  margin-left: 20px;
  margin-right: 20px;
}
.append-box{
  background: #f1f1f1;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

section{
  text-align: justify
}
.padding{
  padding: 5px 1!important;
}

.ul-iconnav li a{
  padding: 50px;
}

.border-no-shadow{
  border: 0.5px solid #e6e6e6;
  box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}

.block-img{
  padding: 10px;
  background: #FFF;
  margin-bottom: 5px;
  border-radius: 3px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.07);
}
.v100{
  height: 100%;
}

.fa{
  padding-top:3px;
  margin-right:5px;
  margin-left:5px;
}

.css-attr-btn-active{
  color:rgb(100, 100, 100);
}
.css-attr-btn{
  color: rgb(240, 240, 240);
}

.image-tool-resizer-top, .image-tool-resizer-bottom{
  width: 10px;
  height: 10px;
  background: #ffffff;
  border: solid 2px rgb(1, 116, 223);
  border-radius:10px; 
  position: absolute;
  cursor: all-scroll;
}

.text-color-picker{
  border: #505050 solid 1px;
}

.fixed {
  position: fixed;
}

.sidebar {
  color: #ffffff;
  background: rgb(247, 247, 247);
  padding: 20px;
}

.settings-panel{
  background-color: #fff;
  width: 250px;
  height: 90%;
  position: fixed;
  right: 20px;
  top: 20px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  overflow-y: scroll;
  

}

.settings-panel .props-div{
  padding: 20px;
  border-bottom: solid;
  border-bottom-color: #f0f0f0;
  border-bottom-width: 1px;  
}