.builder-container{
  width: 700px;
  margin-right:auto;
  margin-left: auto; 
}

.selected-el-tool{
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
  position: absolute;
  background: rgb(241, 241, 241);
}


.sq-link{
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  color: #8a8a8a!important;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

.sq-link:hover{
  color: #505050;
  text-decoration: none;
}

.selected-parent-tool{
  background: rgb(1, 116, 223);
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  display: none;
}
.selected-parent-tool a{
  display: block;
  padding: 10;
  color: #FFF;
}

.selected-parent-tool a:hover{
  color: rgb(0, 88, 170);
}

.highlight-active{
  outline: dashed 1px rgba(0, 132, 255, 0.61);
  outline-offset: 0px
}

.row-section *:hover {
  background: rgba(0, 0, 0, 0.02)!important;
}

.margin-lr-10{
  margin-left: 20px;
  margin-right: 20px;
}
.append-box{
  background: #f1f1f1;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

section{
  text-align: justify
}
.padding{
  padding: 5px 1!important;
}

.ul-iconnav li a{
  padding: 50px;
}

.border-no-shadow{
  border: 0.5px solid #e6e6e6;
  box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}

.block-img{
  padding: 10px;
  border: 0.5px solid #e6e6e6;
  background: #FFF;
  margin-bottom: 5px;
}
.v100{
  height: 100%;
}

.fa{
  padding-top:3px;
  margin-right:5px;
  margin-left:5px;
}

.css-attr-btn-active{
  color:rgb(100, 100, 100);
}
.css-attr-btn{
  color: rgb(240, 240, 240);
}

.image-tool-resizer-top, .image-tool-resizer-bottom{
  width: 10px;
  height: 10px;
  background: #ffffff;
  border: solid 2px rgb(1, 116, 223);
  border-radius:10px; 
  position: absolute;
  cursor: all-scroll;
}
